USE DS_HSDW_Prod

SELECT
      -- [sk_Dim_Clrt_EAPrcdr]
      --,[PROC_ID]
       [PROC_CODE]
      ,[PROC_NAME]
      ,[PROC_CAT]
      --,[IS_ACTIVE_YN]
      --,[Panel_Nme]
      --,[IS_EC_INACTIVE_YN]
      --,[UB_REV_CODE_ID]
      --,[CAT_OVERRIDE_ID]
      --,[CLM_PROC_TYPE_C]
      --,[Clm_Proc_Typ_Nme]
      --,[BILLING_CAT_C]
      --,[Bill_Cat_Nme]
      --,[RECORD_STATE_EAP_C]
      --,[EAP_Rec_Sts]
      --,[DEBIT_OR_CREDIT_C]
      --,[TYPE_C]
      --,[EAP_Tx_Typ]
      --,[REL_PREF_CARD_ID]
      --,[RIS_SIGN_AGAIN_R_YN]
      --,[VENDOR_MEDIUM_DESC]
      --,[VENDOR_SHORT_DESC]
      --,[IS_PROC_USED]
      --,[SHORT_NAME]
      --,[MAX_ORDERABLE]
      --,[SHOW_ORD_DETAIL_C]
      --,[USE_ALT_CHOICES_YN]
      --,[DFLT_ALT_ID]
      --,[MAMMO_RELATED_YN]
      --,[DFLT_SPEC_SRC_MAL_C]
      --,[DFLT_SPEC_SRC_FEM_C]
      --,[ORDER_DISPLAY_NAME]
      --,[PROC_CAT_ID]
      --,[Proc_Cat_Nme]
      --,[EC_OVRD_PROC_CAT_ID]
      --,[SCHED_FOR_OUTPAT_YN]
      --,[TEST_ID]
      --,[BILL_DESC]
      --,[DESC_ENTRY_YN]
      --,[VIEW_PNL_DETAIL_YN]
      --,[CE_RESTR_SEX_C]
      --,[SMARTGROUP_ID]
      --,[Ordr_Set_Nme]
      --,[MODALITY_TYPE_C]
      --,[Modality_Typ_Nme]
      --,[Inst_of_Edit_Dtm]
      --,[sk_Dim_CPT]
      --,[AR_Code_Category]
      --,[PB_Charge_Category]
      --,[Insrnc_or_Self]
      --,[LabTest]
  FROM [DS_HSDW_Prod].[Rptg].[vwDim_Clrt_EAPrcdr]
  WHERE
  --(PROC_ID BETWEEN 15820 AND 15823)
  --OR PROC_ID = 15825
  --OR PROC_ID = 15828
  --OR (PROC_ID BETWEEN 15876 AND 15879)
  --OR (PROC_ID BETWEEN 19102 AND 19103)
  --OR PROC_ID = 19110
  --OR PROC_ID = 19112
  --OR PROC_ID = 19120
  --OR (PROC_ID BETWEEN 19125 AND 19126)
  --OR PROC_ID = 19140
  --OR PROC_ID = 19160
  --OR (PROC_ID BETWEEN 19290 AND 19291)
  --OR PROC_ID = 19316
  --OR PROC_ID = 19318
  --OR (PROC_ID BETWEEN 19324 AND 19325)
  --OR PROC_ID = 19328
  --OR PROC_ID = 1930
  --OR PROC_ID = 19340
  --OR PROC_ID = 19342
  --OR PROC_ID = 19350
  --OR PROC_ID = 19355
  --OR PROC_ID = 19357
  --OR PROC_ID = 19361
  --OR PROC_ID = 19364
  --OR (PROC_ID BETWEEN 19366 AND 19371)
  --OR PROC_ID = 19380
  --OR PROC_ID = 19396
  --OR PROC_ID = 19499
  --OR PROC_ID = 29871
  --OR (PROC_ID BETWEEN 29874 AND 29877)
  --OR (PROC_ID BETWEEN 29879 AND 29889)
  --OR PROC_ID = 45355
  --OR (PROC_ID BETWEEN 45378 AND 45380)
  --OR (PROC_ID BETWEEN 45382 AND 45385)
  --OR (PROC_ID BETWEEN 47562 AND 47564)
  --OR PROC_ID = 47570
  --OR PROC_ID = 47579
  --OR (PROC_ID BETWEEN 49320 AND 49323)
  --OR PROC_ID = 49329
  --OR (PROC_ID BETWEEN 49495 AND 49496)
  --OR (PROC_ID BETWEEN 49500 AND 49501)
  --OR PROC_ID = 49505
  --OR PROC_ID = 49507
  --OR (PROC_ID BETWEEN 49520 AND 49521)
  --OR PROC_ID = 49525
  --OR PROC_ID = 49540
  --OR PROC_ID = 48550
  --OR PROC_ID = 49553
  --OR PROC_ID = 49555
  --OR PROC_ID = 49557
  --OR (PROC_ID BETWEEN 49560 AND 49561)
  --OR (PROC_ID BETWEEN 49565 AND 49566)
  --OR PROC_ID = 49568
  --OR PROC_ID = 49570
  --OR PROC_ID = 48572
  --OR PROC_ID = 49580
  --OR PROC_ID = 49582
  --OR PROC_ID = 49585
  --OR PROC_ID = 49587
  --OR PROC_ID = 49590
  --OR PROC_ID = 49600
  --OR (PROC_ID BETWEEN 49605 AND 49606)
  --OR (PROC_ID BETWEEN 49610 AND 49611)
  --OR (PROC_ID BETWEEN 49650 AND 49651)
  --OR PROC_ID = 49659
  --OR (PROC_ID BETWEEN 58550 AND 58551)
  --OR (PROC_ID BETWEEN 58559 AND 58561)
  --OR PROC_ID = 58563
  --OR (PROC_ID BETWEEN 58578 AND 58579)
  --OR (PROC_ID BETWEEN 58660 AND 58662)
  --OR (PROC_ID BETWEEN 58670 AND 58673)
  --OR PROC_ID = 58679
  (PROC_CODE BETWEEN '15820' AND '15823')
  OR PROC_CODE = '15825'
  OR PROC_CODE = '15828'
  OR (PROC_CODE BETWEEN '15876' AND '15879')
  OR (PROC_CODE BETWEEN '19102' AND '19103')
  OR PROC_CODE = '19110'
  OR PROC_CODE = '19112'
  OR PROC_CODE = '19120'
  OR (PROC_CODE BETWEEN '19125' AND '19126')
  OR PROC_CODE = '19140'
  OR PROC_CODE = '19160'
  OR (PROC_CODE BETWEEN '19290' AND '19291')
  OR PROC_CODE = '19316'
  OR PROC_CODE = '19318'
  OR (PROC_CODE BETWEEN '19324' AND '19325')
  OR PROC_CODE = '19328'
  OR PROC_CODE = '1930'
  OR PROC_CODE = '19340'
  OR PROC_CODE = '19342'
  OR PROC_CODE = '19350'
  OR PROC_CODE = '19355'
  OR PROC_CODE = '19357'
  OR PROC_CODE = '19361'
  OR PROC_CODE = '19364'
  OR (PROC_CODE BETWEEN '19366' AND '19371')
  OR PROC_CODE = '19380'
  OR PROC_CODE = '19396'
  OR PROC_CODE = '19499'
  OR PROC_CODE = '29871'
  OR (PROC_CODE BETWEEN '29874' AND '29877')
  OR (PROC_CODE BETWEEN '29879' AND '29889')
  OR PROC_CODE = '45355'
  OR ((PROC_CODE BETWEEN '45378' AND '45380') AND (PROC_CODE <> '45378A'))
  OR (PROC_CODE BETWEEN '45382' AND '45385')
  OR (PROC_CODE BETWEEN '47562' AND '47564')
  OR PROC_CODE = '47570'
  OR PROC_CODE = '47579'
  OR (PROC_CODE BETWEEN '49320' AND '49323')
  OR PROC_CODE = '49329'
  OR (PROC_CODE BETWEEN '49495' AND '49496')
  OR (PROC_CODE BETWEEN '49500' AND '49501')
  OR PROC_CODE = '49505'
  OR PROC_CODE = '49507'
  OR (PROC_CODE BETWEEN '49520' AND '49521')
  OR PROC_CODE = '49525'
  OR PROC_CODE = '49540'
  OR PROC_CODE = '48550'
  OR PROC_CODE = '49553'
  OR PROC_CODE = '49555'
  OR PROC_CODE = '49557'
  OR (PROC_CODE BETWEEN '49560' AND '49561')
  OR (PROC_CODE BETWEEN '49565' AND '49566')
  OR PROC_CODE = '49568'
  OR PROC_CODE = '49570'
  OR PROC_CODE = '48572'
  OR PROC_CODE = '49580'
  OR PROC_CODE = '49582'
  OR PROC_CODE = '49585'
  OR PROC_CODE = '49587'
  OR PROC_CODE = '49590'
  OR PROC_CODE = '49600'
  OR (PROC_CODE BETWEEN '49605' AND '49606')
  OR (PROC_CODE BETWEEN '49610' AND '49611')
  OR (PROC_CODE BETWEEN '49650' AND '49651')
  OR PROC_CODE = '49659'
  OR (PROC_CODE BETWEEN '58550' AND '58551')
  OR (PROC_CODE BETWEEN '58559' AND '58561')
  OR PROC_CODE = '58563'
  OR (PROC_CODE BETWEEN '58578' AND '58579')
  OR (PROC_CODE BETWEEN '58660' AND '58662')
  OR (PROC_CODE BETWEEN '58670' AND '58673')
  OR PROC_CODE = '58679'
  --ORDER BY PROC_ID
  ORDER BY PROC_CODE