USE DS_HSDW_Stage

IF OBJECT_ID('tempdb..#resp ') IS NOT NULL
DROP TABLE #resp

SELECT                      SURVEY_ID
                           ,RECDATE
						   --,p.[VALUE]
						   --,p.[VARNAME]
                           ,[ITSERVTY]
                           ,[ITCSN]
					 INTO #resp
                     FROM   (
                             --pivoted
												SELECT DISTINCT
                                                        pm.SURVEY_ID
                                                       ,RECDATE
                                                       ,LEFT(VALUE, 20) AS VALUE
                                                       ,pm.VARNAME
                                                FROM [DS_HSDW_Stage].[PressGaney].[PG_Responses_xmlrip] AS pm
                                                WHERE   pm.VARNAME IN ('ITSERVTY', 'ITCSN')
                                                        AND pm.RECDATE >= '7/1/2018 00:00'
                            ) AS pivoted PIVOT ( MAX(VALUE) FOR VARNAME IN ([ITSERVTY], [ITCSN]) ) AS p
ORDER BY p.SURVEY_ID

SELECT *
FROM #resp
--WHERE ITCSN IN ('200019429414')
WHERE ITCSN IN (
 '200019429414'
,'200019538040'
,'200019550644'
,'200019551313'
,'200019574628'
,'200019576885'
,'200019591225'
,'200019622174'
,'200019637524'
,'200019643626'
,'200019650735'
,'200019651978'
,'200019653441'
,'200019654897'
,'200019675631'
,'200019676938'
,'200019728251'
,'200019729619'
,'200021578406'
,'200022489901'
,'200024348409'
,'200024349582'
,'200024354782'
,'200024430776'
,'200024448653'
,'200025150337'
,'200025345755'
,'200026106806'
,'200026128087'
,'200026637794'
,'200026651888'
,'200026751741'
,'200026842690'
,'200026965578'
,'200026995656'
,'200027081869'
,'200027273940'
,'200027490823'
,'200027535088'
,'200027535554'
,'200027555931'
,'200027725194'
,'200027740710'
,'200027771701'
,'200027781037'
,'200027803019'
,'200027937489'
,'200027938635'
,'200028013603'
,'200028018204'
,'200028023040'
,'200028029036'
,'200028155671'
,'200028168297'
,'200028176947'
,'200028286283'
,'200028349210'
,'200028369172'
,'200028390346'
,'200028392274'
,'200028422686'
,'200028437995'
,'200028441936'
,'200028472446'
,'200028488657'
,'200028498785'
,'200028564314'
,'200028565946'
,'200028566666'
,'200028574070'
,'200028618915'
,'200028619769'
,'200028626786'
,'200028651351'
,'200028653668'
,'200028654512'
,'200028660756'
,'200028670609'
,'200028690365'
,'200028697975'
,'200028710517'
,'200028711770'
,'200028732620'
,'200028735122'
,'200028735170'
,'200028746966'
,'200028766064'
,'200028766796'
,'200028780831'
,'200028799087'
,'200028805673'
,'200028806368'
,'200028809817'
,'200028816720'
,'200028819811'
,'200028852441'
,'200028856388'
,'200028891465'
,'200028891471'
,'200028893458'
,'200028900513'
,'200028905593'
,'200028938535'
,'200028940127'
,'200028941474'
,'200028954396'
,'200028956534'
,'200028964095'
,'200029000021'
,'200029002476'
,'200029004396'
,'200029024997'
,'200029025948'
,'200029027211'
,'200029032831'
,'200029033015'
,'200029034993'
,'200029036900'
,'200029057043'
,'200029084327'
,'200029105249'
,'200029106797'
,'200029108386'
,'200029110486'
,'200029129930'
,'200029165251'
,'200029176455'
,'200029178290'
,'200029189803'
,'200029218387'
,'200029244331'
,'200029247115'
,'200029280518'
,'200029298847'
,'200029305085'
,'200029313991'
,'200029326675'
,'200029343463'
,'200029362474'
,'200029386878'
,'200029389843'
,'200029396464'
,'200029398239'
,'200029406752'
,'200029407842'
,'200029408200'
,'200029415527'
,'200029456516'
,'200029459586'
,'200029467586'
,'200029482698'
,'200029490260'
,'200029494634'
,'200029511455'
,'200029532759'
,'200029533303'
,'200029556268'
,'200029558669'
,'200029574179'
,'200029578968'
,'200029580969'
,'200029623144'
,'200029632844'
,'200029654426'
,'200029654809'
,'200029657673'
,'200029659593'
,'200029665460'
,'200029697394'
,'200029697546'
,'200029717459'
,'200029718593'
,'200029725725'
,'200029729656'
,'200029739741'
,'200029740227'
,'200029740325'
,'200029761086'
,'200029764606'
,'200029768927'
,'200029782006'
,'200029796269'
,'200029811581'
,'200029818034'
,'200029830543'
,'200029835899'
,'200029843470'
,'200029849547'
,'200029887538'
,'200029895377'
,'200029914169'
,'200029932403'
,'200029950973'
,'200029973204'
,'200029974124'
,'200029978216'
,'200029982771'
,'200029992577'
,'200030015543'
,'200030022311'
,'200030042807'
,'200030058046'
,'200030061256'
,'200030065124'
,'200030072545'
,'200030084174'
,'200030087174'
,'200028595282'
,'200029324994'
,'200030008226'
,'200018994175'
,'200019104211'
,'200019362329'
,'200019383923'
,'200019429551'
,'200019532593'
,'200019537546'
,'200019538033'
,'200019538038'
,'200019538732'
,'200019547312'
,'200019565494'
,'200019568837'
,'200019573469'
,'200019576570'
,'200019584782'
,'200019599714'
,'200019603293'
,'200019609441'
,'200019616480'
,'200019618333'
,'200019618810'
,'200019641354'
,'200019642452'
,'200019644470'
,'200019645535'
,'200019645965'
,'200019650129'
,'200019650353'
,'200019652918'
,'200019653942'
,'200019656813'
,'200019663628'
,'200019677664'
,'200019677740'
,'200019680330'
,'200019687113'
,'200019693911'
,'200019697832'
,'200019707393'
,'200019708014'
,'200019708756'
,'200019711234'
,'200019712826'
,'200019727807'
,'200019729114'
,'200019731954'
,'200019734628'
,'200019736778'
,'200019739792'
,'200019760887'
,'200019764741'
,'200019766194'
,'200019767252'
,'200019778202'
,'200019781072'
,'200019782362'
,'200019785425'
,'200019792088'
,'200019795866'
,'200019796197'
,'200019798138'
,'200019798268'
,'200019813766'
,'200019837982'
,'200019844833'
,'200019853183'
,'200019857156'
,'200019860115'
,'200019893204'
,'200019949150'
,'200021969256'
,'200022006177'
,'200022052567'
,'200022137622'
,'200022167213'
,'200022292252'
,'200022641415'
,'200022816959'
,'200022883851'
,'200022983803'
,'200023035264'
,'200023050399'
,'200023069590'
,'200023072705'
,'200023383914'
,'200023440287'
,'200023452402'
,'200023462703'
,'200023573416'
,'200023639850'
,'200023641522'
,'200023691334'
,'200023701645'
,'200023716718'
,'200023733728'
,'200023962538'
,'200023988689'
,'200023988954'
,'200024005652'
,'200024027206'
,'200024075249'
,'200024076319'
,'200024120911'
,'200024123548'
,'200024140892'
,'200024144351'
,'200024145476'
,'200024148036'
,'200024152676'
,'200024154718'
,'200024159711'
,'200024162154'
,'200024173232'
,'200024174845'
,'200024178781'
,'200024179896'
,'200024183143'
,'200024185340'
,'200024209672'
,'200024210109'
,'200024214093'
,'200024215872'
,'200024216724'
,'200024219384'
,'200024228437'
,'200024232917'
,'200024258453'
,'200024261418'
,'200024297353'
,'200024300197'
,'200024300827'
,'200024313440'
,'200024329859'
,'200024332716'
,'200024333540'
,'200024335666'
,'200024336838'
,'200024339483'
,'200024343286'
,'200024348902'
,'200024360230'
,'200024379861'
,'200024381149'
,'200024382882'
,'200024383368'
,'200024383692'
,'200024397164'
,'200024400620'
,'200024420932'
,'200024427559'
,'200024430291'
,'200024435041'
,'200024437897'
,'200024442118'
,'200024476317'
,'200024484211'
,'200024487370'
,'200024492239'
,'200024502172'
,'200024502748'
,'200024502886'
,'200024504795'
,'200024508954'
,'200024510566'
,'200024523556'
,'200024533873'
,'200024538278'
,'200024543404'
,'200024546783'
,'200024547033'
,'200024553049'
,'200024553892'
,'200024554359'
,'200024554857'
,'200024564914'
,'200024564981'
,'200024565406'
,'200024570539'
,'200024572686'
,'200024577812'
,'200024577878'
,'200024580000'
,'200024583417'
,'200024586205'
,'200024591036'
,'200024594854'
,'200024599630'
,'200024648396'
,'200024651633'
,'200024652367'
,'200024658139'
,'200024658318'
,'200024677629'
,'200024705604'
,'200024713209'
,'200024754405'
,'200024763740'
,'200024764287'
,'200024766255'
,'200024774031'
,'200024884221'
,'200024902242'
,'200024913281'
,'200024952440'
,'200025011307'
,'200025052304'
,'200025065367'
,'200025076200'
,'200025156649'
,'200025186020'
,'200025198319'
,'200025202240'
,'200025204086'
,'200025205172'
,'200025214153'
,'200025243273'
,'200025264413'
,'200025345293'
,'200025364748'
,'200025453817'
,'200025462491'
,'200025484723'
,'200025495903'
,'200025521597'
,'200025583038'
,'200025656704'
,'200025666239'
,'200025671062'
,'200025688382'
,'200025710562'
,'200025728573'
,'200025732553'
,'200025743424'
,'200025744797'
,'200025783928'
,'200025793158'
,'200025833132'
,'200025838471'
,'200025865243'
,'200025875255'
,'200025897706'
,'200025898088'
,'200025928901'
,'200025929865'
,'200025932030'
,'200025933172'
,'200025938840'
,'200025956620'
,'200025959314'
,'200025968042'
,'200025973719'
,'200025988286'
,'200025990428'
,'200026000719'
,'200026011699'
,'200026021457'
,'200026036339'
,'200026038697'
,'200026041398'
,'200026043621'
,'200026045944'
,'200026049883'
,'200026051817'
,'200026057427'
,'200026058056'
,'200026072542'
,'200026074450'
,'200026074651'
,'200026077861'
,'200026079280'
,'200026095591'
,'200026101644'
,'200026103218'
,'200026104636'
,'200026117165'
,'200026126907'
,'200026130224'
,'200026130588'
,'200026136280'
,'200026142313'
,'200026146395'
,'200026166357'
,'200026187809'
,'200026200997'
,'200026205606'
,'200026212809'
,'200026218087'
,'200026243829'
,'200026245468'
,'200026253764'
,'200026263152'
,'200026265644'
,'200026292776'
,'200026302402'
,'200026309562'
,'200026318826'
,'200026342649'
,'200026342868'
,'200026351552'
,'200026357164'
,'200026381971'
,'200026402182'
,'200026403685'
,'200026425502'
,'200026468862'
,'200026470567'
,'200026471596'
,'200026476948'
,'200026508093'
,'200026513515'
,'200026520675'
,'200026521044'
,'200026532414'
,'200026542496'
,'200026544802'
,'200026567952'
,'200026570953'
,'200026584337'
,'200026588615'
,'200026589405'
,'200026604605'
,'200026607207'
,'200026616568'
,'200026620233'
,'200026629400'
,'200026636794'
,'200026647039'
,'200026647912'
,'200026648591'
,'200026649341'
,'200026653711'
,'200026661645'
,'200026681108'
,'200026682175'
,'200026695755'
,'200026707981'
,'200026714093'
,'200026714979'
,'200026715260'
,'200026722526'
,'200026722688'
,'200026733231'
,'200026749244'
,'200026750928'
,'200026759699'
,'200026765894'
,'200026772340'
,'200026781740'
,'200026786250'
,'200026791650'
,'200026800686'
,'200026819481'
,'200026822063'
,'200026825210'
,'200026831112'
,'200026834109'
,'200026835833'
,'200026844882'
,'200026856924'
,'200026857316'
,'200026859284'
,'200026863711'
,'200026863774'
,'200026864300'
,'200026864973'
,'200026871965'
,'200026899218'
,'200026904334'
,'200026905308'
,'200026907019'
,'200026911321'
,'200026913100'
,'200026918198'
,'200026919737'
,'200026921496'
,'200026925521'
,'200026928435'
,'200026931943'
,'200026932435'
,'200026932938'
,'200026938632'
,'200026948539'
,'200026950416'
,'200026951222'
,'200026951294'
,'200026961346'
,'200026964674'
,'200026967092'
,'200026969532'
,'200026977655'
,'200026978282'
,'200026990897'
,'200027000857'
,'200027001553'
,'200027002713'
,'200027002955'
,'200027003168'
,'200027004326'
,'200027005592'
,'200027005706'
,'200027007867'
,'200027008933'
,'200027016989'
,'200027018767'
,'200027020083'
,'200027030885'
,'200027032151'
,'200027037022'
,'200027041144'
,'200027042478'
,'200027042502'
,'200027044467'
,'200027046655'
,'200027048352'
,'200027049257'
,'200027052945'
,'200027057617'
,'200027059032'
,'200027061298'
,'200027061447'
,'200027062133'
,'200027063506'
,'200027063692'
,'200027064365'
,'200027066391'
,'200027073545'
,'200027076541'
,'200027076916'
,'200027081640'
,'200027081803'
,'200027086906'
,'200027087107'
,'200027087795'
,'200027091742'
,'200027094939'
,'200027097756'
,'200027098581'
,'200027099144'
,'200027101383'
,'200027101521'
,'200027102418'
,'200027103094'
,'200027103468'
,'200027119260'
,'200027119982'
,'200027129116'
,'200027133305'
,'200027148057'
,'200027152208'
,'200027160564'
,'200027161365'
,'200027161597'
,'200027162022'
,'200027173641'
,'200027184973'
,'200027192516'
,'200027223115'
,'200027225163'
,'200027225975'
,'200027227101'
,'200027229476'
,'200027231966'
,'200027241518'
,'200027242377'
,'200027257235'
,'200027271115'
,'200027272155'
,'200027288877'
,'200027306184'
,'200027307438'
,'200027309802'
,'200027312219'
,'200027346601'
,'200027355901'
,'200027356889'
,'200027358334'
,'200027360524'
,'200027387275'
,'200027388595'
,'200027400805'
,'200027401621'
,'200027405981'
,'200027406853'
,'200027412569'
,'200027416616'
,'200027417882'
,'200027419112'
,'200027419921'
,'200027448239'
,'200027449082'
,'200027449981'
,'200027455841'
,'200027461409'
,'200027489197'
,'200027493638'
,'200027504582'
,'200027511373'
,'200027511877'
,'200027567352'
,'200027618922'
,'200027623060'
,'200027659354'
,'200027659730'
,'200027665400'
,'200027676182'
,'200027680601'
,'200027709267'
,'200027711242'
,'200027727486'
,'200027734758'
,'200027734952'
,'200027736703'
,'200027744666'
,'200027745489'
,'200027746066'
,'200027746272'
,'200027747486'
,'200027788508'
,'200027788783'
,'200027791265'
,'200027792381'
,'200027794043'
,'200027797187'
,'200027800160'
,'200027825952'
,'200027828072'
,'200027839424'
,'200027839915'
,'200027842321'
,'200027843693'
,'200027844931'
,'200027851192'
,'200027852906'
,'200027866452'
,'200027876289'
,'200027877450'
,'200027887617'
,'200027891618'
,'200027892900'
,'200027893759'
,'200027893890'
,'200027897545'
,'200027904682'
,'200027904986'
,'200027910847'
,'200027912703'
,'200027917227'
,'200027921817'
,'200027921968'
,'200027922734'
,'200027923589'
,'200027925665'
,'200027926803'
,'200027928514'
,'200027934144'
,'200027945179'
,'200027946585'
,'200027949310'
,'200027954569'
,'200027955525'
,'200027956022'
,'200027958017'
,'200027958835'
,'200027959974'
,'200027967635'
,'200027968812'
,'200027970646'
,'200027977037'
,'200027977483'
,'200027978446'
,'200027996575'
,'200028008743'
,'200028009999'
,'200028017938'
,'200028029394'
,'200028033517'
,'200028036697'
,'200028046249'
,'200028046355'
,'200028061199'
,'200028079222'
,'200028081618'
,'200028087664'
,'200028114466'
,'200028116096'
,'200028118420'
,'200028119402'
,'200028120639'
,'200028122823'
,'200028124446'
,'200028136183'
,'200028142485'
,'200028144160'
,'200028164058'
,'200028165555'
,'200028168934'
,'200028169385'
,'200028169805'
,'200028172415'
,'200028175275'
,'200028175444'
,'200028181303'
,'200028183849'
,'200028186920'
,'200028193911'
,'200028198687'
,'200028205406'
,'200028211614'
,'200028216683'
,'200028221882'
,'200028223844'
,'200028242620'
,'200028246023'
,'200028248263'
,'200028252145'
,'200028252336'
,'200028253045'
,'200028260199'
,'200028268956'
,'200028269622'
,'200028271830'
,'200028272257'
,'200028274090'
,'200028277766'
,'200028278023'
,'200028288820'
,'200028294780'
,'200028299607'
,'200028306346'
,'200028306531'
,'200028312201'
,'200028315848'
,'200028319876'
,'200028333555'
,'200028342512'
,'200028345907'
,'200028357494'
,'200028358016'
,'200028359061'
,'200028359801'
,'200028361058'
,'200028361990'
,'200028364663'
,'200028365416'
,'200028365739'
,'200028366478'
,'200028367282'
,'200028373491'
,'200028376725'
,'200028384868'
,'200028395785'
,'200028399202'
,'200028401159'
,'200028407090'
,'200028409666'
,'200028422192'
,'200028422368'
,'200028423732'
,'200028424528'
,'200028426161'
,'200028427906'
,'200028432997'
,'200028433227'
,'200028434519'
,'200028443733'
,'200028448497'
,'200028449285'
,'200028450019'
,'200028451669'
,'200028452603'
,'200028466209'
,'200028477120'
,'200028478372'
,'200028479620'
,'200028482969'
,'200028484150'
,'200028485602'
,'200028490991'
,'200028498617'
,'200028499177'
,'200028499371'
,'200028500472'
,'200028501324'
,'200028501708'
,'200028502471'
,'200028503424'
,'200028504302'
,'200028506042'
,'200028506307'
,'200028507069'
,'200028507934'
,'200028518111'
,'200028519463'
,'200028521941'
,'200028523261'
,'200028523755'
,'200028524741'
,'200028526198'
,'200028533986'
,'200028534327'
,'200028534593'
,'200028538010'
,'200028538519'
,'200028539566'
,'200028540650'
,'200028542344'
,'200028542496'
,'200028542932'
,'200028546275'
,'200028548910'
,'200028549518'
,'200028550135'
,'200028553645'
,'200028555046'
,'200028560841'
,'200028562323'
,'200028564640'
,'200028564982'
,'200028566310'
,'200028567390'
,'200028569792'
,'200028569982'
,'200028570209'
,'200028570566'
,'200028571175'
,'200028572688'
,'200028573136'
,'200028573926'
,'200028576289'
,'200028576759'
,'200028577448'
,'200028577570'
,'200028580558'
,'200028585906'
,'200028587310'
,'200028587568'
,'200028587794'
,'200028589302'
,'200028589375'
,'200028589632'
,'200028591984'
,'200028592144'
,'200028593320'
,'200028594202'
,'200028594483'
,'200028594615'
,'200028596043'
,'200028605894'
,'200028606072'
,'200028606624'
,'200028611656'
,'200028613232'
,'200028616939'
,'200028617762'
,'200028619111'
,'200028620468'
,'200028622893'
,'200028623267'
,'200028624895'
,'200028625036'
,'200028626621'
,'200028629006'
,'200028629664'
,'200028631841'
,'200028635299'
,'200028636444'
,'200028637190'
,'200028642939'
,'200028646038'
,'200028655945'
,'200028656313'
,'200028656400'
,'200028656402'
,'200028657854'
,'200028659449'
,'200028660023'
,'200028660671'
,'200028665420'
,'200028666505'
,'200028669105'
,'200028670193'
,'200028670551'
,'200028670789'
,'200028670852'
,'200028674034'
,'200028674174'
,'200028674854'
,'200028675452'
,'200028680418'
,'200028691322'
,'200028693474'
,'200028694524'
,'200028697355'
,'200028698111'
,'200028699607'
,'200028700123'
,'200028700236'
,'200028701958'
,'200028703169'
,'200028704817'
,'200028705998'
,'200028706918'
,'200028708342'
,'200028709041'
,'200028709123'
,'200028709327'
,'200028709926'
,'200028711068'
,'200028714298'
,'200028719982'
,'200028723999'
,'200028727501'
,'200028727842'
,'200028728034'
,'200028728109'
,'200028728437'
,'200028728656'
,'200028729152'
,'200028730232'
,'200028732753'
,'200028733018'
,'200028733714'
,'200028735262'
,'200028735484'
,'200028736364'
,'200028736589'
,'200028736692'
,'200028743825'
,'200028745613'
,'200028748012'
,'200028748064'
,'200028748202'
,'200028750096'
,'200028750994'
,'200028752547'
,'200028753683'
,'200028754128'
,'200028758043'
,'200028761536'
,'200028762573'
,'200028762608'
,'200028763891'
,'200028769524'
,'200028769868'
,'200028771330'
,'200028774550'
,'200028774651'
,'200028775838'
,'200028775882'
,'200028776454'
,'200028777198'
,'200028780144'
,'200028782998'
,'200028783834'
,'200028790712'
,'200028795504'
,'200028799540'
,'200028803085'
,'200028803195'
,'200028803260'
,'200028804563'
,'200028805528'
,'200028805868'
,'200028806507'
,'200028810434'
,'200028815806'
,'200028818870'
,'200028819393'
,'200028819476'
,'200028819817'
,'200028819901'
,'200028820471'
,'200028820726'
,'200028822287'
,'200028823223'
,'200028823652'
,'200028824039'
,'200028825616'
,'200028826240'
,'200028834872'
,'200028834975'
,'200028835199'
,'200028836105'
,'200028837053'
,'200028837677'
,'200028838259'
,'200028838867'
,'200028839370'
,'200028839868'
,'200028841380'
,'200028842363'
,'200028842977'
,'200028843006'
,'200028845269'
,'200028845983'
,'200028846586'
,'200028846923'
,'200028849159'
,'200028850973'
,'200028851449'
,'200028851993'
,'200028854546'
,'200028855388'
,'200028856683'
,'200028857756'
,'200028860833'
,'200028863720'
,'200028864660'
,'200028868190'
,'200028868274'
,'200028869562'
,'200028869832'
,'200028870829'
,'200028875088'
,'200028876048'
,'200028876268'
,'200028877848'
,'200028880869'
,'200028881201'
,'200028883289'
,'200028883314'
,'200028885548'
,'200028887441'
,'200028887566'
,'200028887678'
,'200028887741'
,'200028887787'
,'200028890299'
,'200028891863'
,'200028891993'
,'200028892837'
,'200028893689'
,'200028894642'
,'200028896027'
,'200028899879'
,'200028901999'
,'200028904794'
,'200028905240'
,'200028906977'
,'200028912953'
,'200028926090'
,'200028927040'
,'200028927461'
,'200028928781'
,'200028932163'
,'200028932342'
,'200028933371'
,'200028933568'
,'200028934161'
,'200028934726'
,'200028936965'
,'200028937127'
,'200028937189'
,'200028937547'
,'200028937707'
,'200028939152'
,'200028939324'
,'200028940170'
,'200028941411'
,'200028944001'
,'200028944411'
,'200028948880'
,'200028948914'
,'200028949277'
,'200028949675'
,'200028950236'
,'200028951730'
,'200028951838'
,'200028951870'
,'200028952493'
,'200028952926'
,'200028954342'
,'200028954431'
,'200028954851'
,'200028955291'
,'200028955725'
,'200028957850'
,'200028960446'
,'200028960897'
,'200028960936'
,'200028961663'
,'200028962051'
,'200028962522'
,'200028962643'
,'200028962759'
,'200028963603'
,'200028970689'
,'200028970975'
,'200028971110'
,'200028971165'
,'200028971400'
,'200028972308'
,'200028974983'
,'200028975573'
,'200028976062'
,'200028976222'
,'200028976897'
,'200028977933'
,'200028978858'
,'200028979664'
,'200028979765'
,'200028980977'
,'200028981636'
,'200028981828'
,'200028982777'
,'200028983000'
,'200028983320'
,'200028984196'
,'200028984508'
,'200028984510'
,'200028984698'
,'200028984839'
,'200028984921'
,'200028987340'
,'200028988248'
,'200028989426'
,'200028990890'
,'200028992948'
,'200028994982'
,'200028995401'
,'200028997006'
,'200028998457'
,'200028999066'
,'200029002762'
,'200029004528'
,'200029004913'
,'200029005017'
,'200029005656'
,'200029006108'
,'200029006139'
,'200029006513'
,'200029006710'
,'200029007183'
,'200029007457'
,'200029007620'
,'200029009360'
,'200029014306'
,'200029015843'
,'200029016647'
,'200029017178'
,'200029019424'
,'200029019931'
,'200029020049'
,'200029020649'
,'200029021002'
,'200029021084'
,'200029021165'
,'200029021564'
,'200029022460'
,'200029022693'
,'200029022842'
,'200029023164'
,'200029023207'
,'200029023861'
,'200029024006'
,'200029024417'
,'200029026142'
,'200029027222'
,'200029027648'
,'200029028253'
,'200029029268'
,'200029029686'
,'200029029897'
,'200029030130'
,'200029030648'
,'200029031614'
,'200029031776'
,'200029031880'
,'200029032043'
,'200029032437'
,'200029032445'
,'200029032530'
,'200029032799'
,'200029033714'
,'200029033831'
,'200029033893'
,'200029034268'
,'200029034379'
,'200029035697'
,'200029036978'
,'200029038511'
,'200029038919'
,'200029039836'
,'200029040557'
,'200029041168'
,'200029041855'
,'200029042604'
,'200029043643'
,'200029044371'
,'200029044602'
,'200029045558'
,'200029045642'
,'200029046066'
,'200029046180'
,'200029046195'
,'200029046846'
,'200029047624'
,'200029047890'
,'200029048109'
,'200029048983'
,'200029050811'
,'200029051838'
,'200029052419'
,'200029058157'
,'200029058703'
,'200029059799'
,'200029064381'
,'200029065029'
,'200029065830'
,'200029067662'
,'200029067699'
,'200029068015'
,'200029068383'
,'200029068407'
,'200029068699'
,'200029068832'
,'200029069566'
,'200029069863'
,'200029070955'
,'200029071485'
,'200029071542'
,'200029071992'
,'200029072513'
,'200029073326'
,'200029073858'
,'200029073878'
,'200029074195'
,'200029074571'
,'200029074934'
,'200029075002'
,'200029075200'
,'200029075602'
,'200029075816'
,'200029076711'
,'200029076801'
,'200029077086'
,'200029080906'
,'200029081273'
,'200029082645'
,'200029082909'
,'200029083501'
,'200029083573'
,'200029084376'
,'200029084531'
,'200029084570'
,'200029085653'
,'200029086380'
,'200029087373'
,'200029087885'
,'200029088215'
,'200029088258'
,'200029088352'
,'200029088390'
,'200029089173'
,'200029089363'
,'200029090740'
,'200029091665'
,'200029091745'
,'200029092015'
,'200029092904'
,'200029093087'
,'200029093936'
,'200029094035'
,'200029094531'
,'200029094653'
,'200029095779'
,'200029101686'
,'200029102390'
,'200029103055'
,'200029103913'
,'200029106672'
,'200029106863'
,'200029107938'
,'200029107990'
,'200029109522'
,'200029110360'
,'200029110561'
,'200029110950'
,'200029111139'
,'200029111413'
,'200029112052'
,'200029112388'
,'200029112567'
,'200029115027'
,'200029115149'
,'200029115642'
,'200029118010'
,'200029119738'
,'200029120517'
,'200029121061'
,'200029121321'
,'200029123293'
,'200029123580'
,'200029124182'
,'200029125049'
,'200029125555'
,'200029125701'
,'200029126230'
,'200029127074'
,'200029127666'
,'200029128454'
,'200029128615'
,'200029128827'
,'200029128962'
,'200029129773'
,'200029130026'
,'200029130648'
,'200029132349'
,'200029133162'
,'200029133464'
,'200029133541'
,'200029134558'
,'200029135297'
,'200029135714'
,'200029138838'
,'200029140204'
,'200029140332'
,'200029140386'
,'200029141142'
,'200029151006'
,'200029153345'
,'200029153393'
,'200029153913'
,'200029154123'
,'200029155043'
,'200029155582'
,'200029156472'
,'200029159718'
,'200029161206'
,'200029161925'
,'200029162338'
,'200029162354'
,'200029165466'
,'200029165616'
,'200029165683'
,'200029165930'
,'200029166775'
,'200029167309'
,'200029167656'
,'200029167878'
,'200029168133'
,'200029168282'
,'200029168934'
,'200029169140'
,'200029170042'
,'200029170133'
,'200029170175'
,'200029170450'
,'200029171147'
,'200029176611'
,'200029176994'
,'200029177402'
,'200029178163'
,'200029178644'
,'200029178972'
,'200029180354'
,'200029182348'
,'200029182503'
,'200029183551'
,'200029183954'
,'200029183968'
,'200029185889'
,'200029185914'
,'200029186070'
,'200029187201'
,'200029188450'
,'200029189320'
,'200029189411'
,'200029189502'
,'200029190071'
,'200029190844'
,'200029195580'
,'200029197318'
,'200029198260'
,'200029199323'
,'200029199469'
,'200029200928'
,'200029201371'
,'200029201379'
,'200029202635'
,'200029205792'
,'200029205807'
,'200029206574'
,'200029206847'
,'200029207752'
,'200029209032'
,'200029209338'
,'200029210171'
,'200029212574'
,'200029213311'
,'200029214659'
,'200029214858'
,'200029214914'
,'200029215619'
,'200029215762'
,'200029216082'
,'200029216168'
,'200029216364'
,'200029216868'
,'200029217547'
,'200029218514'
,'200029220238'
,'200029220551'
,'200029221828'
,'200029222206'
,'200029222231'
,'200029222392'
,'200029222886'
,'200029225451'
,'200029225719'
,'200029226799'
,'200029227071'
,'200029229276'
,'200029229984'
,'200029230032'
,'200029230039'
,'200029230316'
,'200029230682'
,'200029231245'
,'200029233120'
,'200029234050'
,'200029234077'
,'200029234982'
,'200029235916'
,'200029236195'
,'200029244160'
,'200029246487'
,'200029246692'
,'200029247032'
,'200029247615'
,'200029247675'
,'200029248244'
,'200029248269'
,'200029249348'
,'200029249816'
,'200029251124'
,'200029251388'
,'200029251434'
,'200029252245'
,'200029252344'
,'200029252390'
,'200029252559'
,'200029253103'
,'200029253134'
,'200029254071'
,'200029254728'
,'200029255834'
,'200029258009'
,'200029258258'
,'200029260271'
,'200029260290'
,'200029261971'
,'200029262780'
,'200029263620'
,'200029264443'
,'200029264492'
,'200029265012'
,'200029267058'
,'200029267068'
,'200029267496'
,'200029267605'
,'200029267958'
,'200029269167'
,'200029269595'
,'200029269732'
,'200029270578'
,'200029270761'
,'200029270857'
,'200029271107'
,'200029271137'
,'200029271466'
,'200029272013'
,'200029272426'
,'200029272483'
,'200029272761'
,'200029273393'
,'200029273443'
,'200029274922'
,'200029275012'
,'200029275746'
,'200029275794'
,'200029276234'
,'200029276561'
,'200029277206'
,'200029277642'
,'200029277708'
,'200029277811'
,'200029277870'
,'200029277913'
,'200029278053'
,'200029278107'
,'200029285037'
,'200029287629'
,'200029293588'
,'200029294680'
,'200029295434'
,'200029296142'
,'200029296493'
,'200029296742'
,'200029297025'
,'200029297836'
,'200029298219'
,'200029298851'
,'200029299773'
,'200029300724'
,'200029300806'
,'200029301570'
,'200029302069'
,'200029306404'
,'200029306415'
,'200029306439'
,'200029306879'
,'200029307888'
,'200029308637'
,'200029309520'
,'200029309564'
,'200029309878'
,'200029311218'
,'200029311256'
,'200029311334'
,'200029311602'
,'200029311753'
,'200029314130'
,'200029315618'
,'200029315760'
,'200029316017'
,'200029317549'
,'200029317647'
,'200029317993'
,'200029320197'
,'200029322372'
,'200029322641'
,'200029322874'
,'200029323189'
,'200029323295'
,'200029323335'
,'200029323481'
,'200029323637'
,'200029323855'
,'200029323995'
,'200029324049'
,'200029324526'
,'200029324738'
,'200029325355'
,'200029325391'
,'200029325447'
,'200029326351'
,'200029327880'
,'200029327919'
,'200029328245'
,'200029328748'
,'200029329639'
,'200029329657'
,'200029329816'
,'200029330655'
,'200029335280'
,'200029335371'
,'200029336193'
,'200029336284'
,'200029337501'
,'200029338110'
,'200029339526'
,'200029339793'
,'200029340385'
,'200029341458'
,'200029342422'
,'200029342524'
,'200029342542'
,'200029344359'
,'200029346312'
,'200029346881'
,'200029347603'
,'200029347701'
,'200029349741'
,'200029350011'
,'200029351272'
,'200029351783'
,'200029352134'
,'200029352591'
,'200029353433'
,'200029353664'
,'200029355425'
,'200029355725'
,'200029355902'
,'200029356057'
,'200029357635'
,'200029358328'
,'200029359731'
,'200029360202'
,'200029360822'
,'200029361819'
,'200029362839'
,'200029364148'
,'200029364484'
,'200029364644'
,'200029365448'
,'200029365697'
,'200029366004'
,'200029366206'
,'200029366672'
,'200029367703'
,'200029367924'
,'200029368547'
,'200029369119'
,'200029369821'
,'200029370804'
,'200029371084'
,'200029371222'
,'200029371299'
,'200029371524'
,'200029372249'
,'200029372961'
,'200029376612'
,'200029376946'
,'200029385539'
,'200029385559'
,'200029386947'
,'200029387738'
,'200029388786'
,'200029389327'
,'200029390468'
,'200029390536'
,'200029391936'
,'200029391997'
,'200029392355'
,'200029392712'
,'200029393002'
,'200029394342'
,'200029394986'
,'200029396250'
,'200029396673'
,'200029396706'
,'200029396911'
,'200029397048'
,'200029397157'
,'200029399637'
,'200029401353'
,'200029401488'
,'200029401561'
,'200029402820'
,'200029403009'
,'200029403213'
,'200029403247'
,'200029404793'
,'200029405043'
,'200029405845'
,'200029406349'
,'200029406633'
,'200029407552'
,'200029407829'
,'200029410782'
,'200029411150'
,'200029411957'
,'200029412049'
,'200029412458'
,'200029414091'
,'200029414182'
,'200029414394'
,'200029415023'
,'200029415275'
,'200029415402'
,'200029416986'
,'200029417648'
,'200029417661'
,'200029419140'
,'200029419270'
,'200029419325'
,'200029420709'
,'200029421430'
,'200029422419'
,'200029422446'
,'200029423844'
,'200029424211'
,'200029424448'
,'200029424782'
,'200029425817'
,'200029426425'
,'200029426938'
,'200029431726'
,'200029437394'
,'200029437771'
,'200029438680'
,'200029438972'
,'200029439151'
,'200029439852'
,'200029443757'
,'200029444061'
,'200029444497'
,'200029444612'
,'200029444914'
,'200029446525'
,'200029448064'
,'200029448224'
,'200029449483'
,'200029450114'
,'200029450811'
,'200029452006'
,'200029452934'
,'200029453438'
,'200029453561'
,'200029454207'
,'200029455812'
,'200029458382'
,'200029458759'
,'200029458787'
,'200029461130'
,'200029461387'
,'200029462744'
,'200029463011'
,'200029463042'
,'200029463308'
,'200029463334'
,'200029463371'
,'200029464238'
,'200029464843'
,'200029465980'
,'200029466169'
,'200029466193'
,'200029466369'
,'200029466529'
,'200029466601'
,'200029466970'
,'200029467902'
,'200029467909'
,'200029470799'
,'200029471151'
,'200029471616'
,'200029474363'
,'200029478105'
,'200029479114'
,'200029479615'
,'200029480879'
,'200029481448'
,'200029481453'
,'200029483311'
,'200029483884'
,'200029483997'
,'200029484824'
,'200029484995'
,'200029485304'
,'200029486041'
,'200029486131'
,'200029486734'
,'200029487126'
,'200029487246'
,'200029488955'
,'200029489033'
,'200029489344'
,'200029489464'
,'200029489680'
,'200029489788'
,'200029490104'
,'200029490266'
,'200029490273'
,'200029491630'
,'200029491661'
,'200029492556'
,'200029492922'
,'200029492986'
,'200029493178'
,'200029493409'
,'200029495055'
,'200029495104'
,'200029495620'
,'200029496256'
,'200029496419'
,'200029496688'
,'200029496896'
,'200029496982'
,'200029498896'
,'200029500086'
,'200029502149'
,'200029504167'
,'200029504227'
,'200029504867'
,'200029505025'
,'200029506439'
,'200029507935'
,'200029508604'
,'200029508703'
,'200029508950'
,'200029509058'
,'200029509188'
,'200029510322'
,'200029510456'
,'200029510634'
,'200029510646'
,'200029510665'
,'200029510670'
,'200029512527'
,'200029513776'
,'200029513893'
,'200029514240'
,'200029514282'
,'200029514483'
,'200029514519'
,'200029515564'
,'200029520479'
,'200029522705'
,'200029522848'
,'200029523144'
,'200029523351'
,'200029524563'
,'200029525043'
,'200029525928'
,'200029526086'
,'200029526476'
,'200029527356'
,'200029527619'
,'200029528296'
,'200029528730'
,'200029529510'
,'200029529902'
,'200029530473'
,'200029531063'
,'200029531939'
,'200029532081'
,'200029532228'
,'200029532294'
,'200029532892'
,'200029533292'
,'200029534187'
,'200029534602'
,'200029534744'
,'200029534754'
,'200029535766'
,'200029536168'
,'200029536188'
,'200029536647'
,'200029536799'
,'200029537185'
,'200029537247'
,'200029537760'
,'200029537984'
,'200029538408'
,'200029538722'
,'200029538813'
,'200029538848'
,'200029538906'
,'200029539558'
,'200029540932'
,'200029541068'
,'200029541381'
,'200029541682'
,'200029541744'
,'200029542052'
,'200029542150'
,'200029542738'
,'200029542809'
,'200029543423'
,'200029543689'
,'200029544039'
,'200029544965'
,'200029546111'
,'200029546185'
,'200029546380'
,'200029546646'
,'200029546789'
,'200029546927'
,'200029547339'
,'200029547352'
,'200029547546'
,'200029547670'
,'200029548266'
,'200029548473'
,'200029548517'
,'200029549359'
,'200029549728'
,'200029549906'
,'200029549920'
,'200029550073'
,'200029550223'
,'200029550502'
,'200029550676'
,'200029550974'
,'200029551038'
,'200029551183'
,'200029551457'
,'200029551691'
,'200029551698'
,'200029552000'
,'200029552344'
,'200029552463'
,'200029552805'
,'200029552941'
,'200029553531'
,'200029553586'
,'200029554223'
,'200029554315'
,'200029554823'
,'200029555466'
,'200029555538'
,'200029555893'
,'200029555939'
,'200029556151'
,'200029556695'
,'200029557374'
,'200029557564'
,'200029557797'
,'200029558495'
,'200029559032'
,'200029559217'
,'200029559228'
,'200029559549'
,'200029560232'
,'200029560637'
,'200029564357'
,'200029565644'
,'200029568305'
,'200029569532'
,'200029570129'
,'200029570753'
,'200029571036'
,'200029571224'
,'200029571424'
,'200029571641'
,'200029572753'
,'200029573043'
,'200029573347'
,'200029575383'
,'200029575639'
,'200029575711'
,'200029576660'
,'200029576985'
,'200029577057'
,'200029577346'
,'200029577566'
,'200029579013'
,'200029579423'
,'200029579684'
,'200029579811'
,'200029579827'
,'200029580261'
,'200029580325'
,'200029580369'
,'200029580375'
,'200029580804'
,'200029580892'
,'200029581125'
,'200029581635'
,'200029581642'
,'200029582257'
,'200029582476'
,'200029582841'
,'200029584694'
,'200029585299'
,'200029585301'
,'200029585408'
,'200029585941'
,'200029586566'
,'200029587076'
,'200029587840'
,'200029588084'
,'200029588404'
,'200029588525'
,'200029589762'
,'200029590178'
,'200029590286'
,'200029590355'
,'200029590623'
,'200029591454'
,'200029591740'
,'200029593303'
,'200029593376'
,'200029593445'
,'200029593663'
,'200029593921'
,'200029594012'
,'200029595108'
,'200029595332'
,'200029595723'
,'200029595814'
,'200029596125'
,'200029596165'
,'200029596205'
,'200029596309'
,'200029596538'
,'200029596586'
,'200029597441'
,'200029598793'
,'200029599125'
,'200029599676'
,'200029599872'
,'200029600509'
,'200029604306'
,'200029611523'
,'200029612100'
,'200029614188'
,'200029617815'
,'200029620656'
,'200029621402'
,'200029621726'
,'200029621895'
,'200029623319'
,'200029623765'
,'200029624361'
,'200029624393'
,'200029625936'
,'200029626035'
,'200029626229'
,'200029626485'
,'200029627246'
,'200029627473'
,'200029629001'
,'200029629119'
,'200029629222'
,'200029630173'
,'200029630355'
,'200029630465'
,'200029630481'
,'200029630973'
,'200029631486'
,'200029631515'
,'200029632581'
,'200029632771'
,'200029633013'
,'200029633090'
,'200029633621'
,'200029633679'
,'200029633823'
,'200029634299'
,'200029634627'
,'200029635315'
,'200029635448'
,'200029635572'
,'200029636084'
,'200029636755'
,'200029637319'
,'200029637390'
,'200029638479'
,'200029639284'
,'200029639362'
,'200029639516'
,'200029640203'
,'200029640638'
,'200029640954'
,'200029641073'
,'200029641651'
,'200029642843'
,'200029643779'
,'200029644633'
,'200029644748'
,'200029645414'
,'200029645777'
,'200029645923'
,'200029645967'
,'200029648048'
,'200029648170'
,'200029648813'
,'200029648987'
,'200029648996'
,'200029649001'
,'200029649103'
,'200029649947'
,'200029650606'
,'200029651560'
,'200029652769'
,'200029656271'
,'200029658648'
,'200029659189'
,'200029659333'
,'200029659683'
,'200029666923'
,'200029666944'
,'200029667149'
,'200029668683'
,'200029669362'
,'200029669465'
,'200029669778'
,'200029669938'
,'200029670671'
,'200029670816'
,'200029670917'
,'200029671444'
,'200029671589'
,'200029672242'
,'200029673210'
,'200029673875'
,'200029674507'
,'200029674804'
,'200029675006'
,'200029675144'
,'200029677151'
,'200029677381'
,'200029677396'
,'200029677740'
,'200029677801'
,'200029677966'
,'200029678126'
,'200029678179'
,'200029679025'
,'200029679069'
,'200029679307'
,'200029679602'
,'200029679709'
,'200029679755'
,'200029679846'
,'200029680009'
,'200029680024'
,'200029680620'
,'200029681054'
,'200029681501'
,'200029682095'
,'200029682150'
,'200029682360'
,'200029682461'
,'200029682693'
,'200029682739'
,'200029682941'
,'200029682990'
,'200029683750'
,'200029683769'
,'200029684042'
,'200029684060'
,'200029684262'
,'200029684663'
,'200029684741'
,'200029685059'
,'200029685274'
,'200029685755'
,'200029686343'
,'200029686888'
,'200029687094'
,'200029687505'
,'200029688088'
,'200029688426'
,'200029688523'
,'200029688591'
,'200029689139'
,'200029689593'
,'200029689728'
,'200029689892'
,'200029690288'
,'200029690542'
,'200029691440'
,'200029691464'
,'200029691546'
,'200029692602'
,'200029693561'
,'200029694351'
,'200029695572'
,'200029695606'
,'200029696069'
,'200029696928'
,'200029697522'
,'200029697989'
,'200029699613'
,'200029700103'
,'200029700142'
,'200029700389'
,'200029700969'
,'200029701025'
,'200029701080'
,'200029701640'
,'200029702347'
,'200029702634'
,'200029702988'
,'200029703409'
,'200029704577'
,'200029704618'
,'200029705080'
,'200029705590'
,'200029705741'
,'200029705763'
,'200029705967'
,'200029707032'
,'200029707190'
,'200029707632'
,'200029716270'
,'200029716364'
,'200029716710'
,'200029717102'
,'200029717442'
,'200029717616'
,'200029718173'
,'200029718205'
,'200029719153'
,'200029720065'
,'200029720331'
,'200029720446'
,'200029721875'
,'200029722702'
,'200029723339'
,'200029723348'
,'200029723501'
,'200029723862'
,'200029724057'
,'200029724630'
,'200029724908'
,'200029724968'
,'200029725268'
,'200029725951'
,'200029727645'
,'200029728915'
,'200029729103'
,'200029729467'
,'200029730451'
,'200029730475'
,'200029730600'
,'200029730794'
,'200029731473'
,'200029731679'
,'200029731920'
,'200029733373'
,'200029734372'
,'200029734423'
,'200029734612'
,'200029735470'
,'200029735968'
,'200029736004'
,'200029736366'
,'200029736674'
,'200029737127'
,'200029738417'
,'200029739347'
,'200029739772'
,'200029739832'
,'200029740336'
,'200029740359'
,'200029740601'
,'200029741823'
,'200029742234'
,'200029742294'
,'200029742849'
,'200029742884'
,'200029743705'
,'200029743713'
,'200029744653'
,'200029746264'
,'200029746329'
,'200029746787'
,'200029747478'
,'200029747752'
,'200029748451'
,'200029748513'
,'200029748833'
,'200029749046'
,'200029749534'
,'200029750265'
,'200029750283'
,'200029750381'
,'200029750382'
,'200029750755'
,'200029751062'
,'200029751271'
,'200029751541'
,'200029752144'
,'200029752462'
,'200029752952'
,'200029753062'
,'200029753400'
,'200029754260'
,'200029754399'
,'200029758646'
,'200029759671'
,'200029760208'
,'200029760421'
,'200029760424'
,'200029760594'
,'200029760774'
,'200029760814'
,'200029761101'
,'200029761609'
,'200029761812'
,'200029762229'
,'200029762353'
,'200029762801'
,'200029762837'
,'200029763044'
,'200029763183'
,'200029763460'
,'200029763470'
,'200029763593'
,'200029763601'
,'200029764383'
,'200029764497'
,'200029765089'
,'200029766724'
,'200029766954'
,'200029767051'
,'200029767371'
,'200029767695'
,'200029768276'
,'200029768661'
,'200029768970'
,'200029769024'
,'200029769197'
,'200029769296'
,'200029769676'
,'200029769819'
,'200029769907'
,'200029769935'
,'200029770015'
,'200029770166'
,'200029770190'
,'200029770375'
,'200029770528'
,'200029771572'
,'200029771630'
,'200029772031'
,'200029772766'
,'200029772781'
,'200029772846'
,'200029773258'
,'200029773772'
,'200029774136'
,'200029774201'
,'200029774592'
,'200029774691'
,'200029774917'
,'200029775196'
,'200029775219'
,'200029775525'
,'200029775725'
,'200029775959'
,'200029776279'
,'200029776572'
,'200029776852'
,'200029777066'
,'200029777865'
,'200029778301'
,'200029778422'
,'200029778535'
,'200029779212'
,'200029779467'
,'200029779573'
,'200029779683'
,'200029779686'
,'200029780329'
,'200029780760'
,'200029781161'
,'200029781209'
,'200029781530'
,'200029781544'
,'200029782278'
,'200029782511'
,'200029782954'
,'200029783593'
,'200029783619'
,'200029783626'
,'200029784590'
,'200029785161'
,'200029785347'
,'200029785491'
,'200029786004'
,'200029786439'
,'200029786537'
,'200029786608'
,'200029787454'
,'200029787525'
,'200029787740'
,'200029787886'
,'200029787925'
,'200029788121'
,'200029788490'
,'200029789088'
,'200029789344'
,'200029789539'
,'200029790259'
,'200029791217'
,'200029791266'
,'200029791370'
,'200029791981'
,'200029792200'
,'200029792272'
,'200029792572'
,'200029793667'
,'200029794439'
,'200029794513'
,'200029794634'
,'200029794758'
,'200029794847'
,'200029795011'
,'200029795439'
,'200029796418'
,'200029796463'
,'200029796667'
,'200029801276'
,'200029805481'
,'200029810430'
,'200029810432'
,'200029810657'
,'200029811085'
,'200029811919'
,'200029812259'
,'200029812334'
,'200029814498'
,'200029814791'
,'200029814796'
,'200029814940'
,'200029815118'
,'200029815714'
,'200029815847'
,'200029816098'
,'200029816156'
,'200029816215'
,'200029816388'
,'200029816457'
,'200029816463'
,'200029816832'
,'200029817253'
,'200029817571'
,'200029817726'
,'200029818296'
,'200029818411'
,'200029818623'
,'200029818676'
,'200029818684'
,'200029819686'
,'200029819791'
,'200029820269'
,'200029820741'
,'200029821286'
,'200029821611'
,'200029821634'
,'200029822008'
,'200029822259'
,'200029822294'
,'200029822333'
,'200029822729'
,'200029822784'
,'200029822861'
,'200029822959'
,'200029823441'
,'200029823925'
,'200029824287'
,'200029824758'
,'200029824934'
,'200029825382'
,'200029825640'
,'200029825895'
,'200029826337'
,'200029826502'
,'200029826512'
,'200029826652'
,'200029826689'
,'200029826840'
,'200029828082'
,'200029828306'
,'200029828705'
,'200029828765'
,'200029829059'
,'200029829226'
,'200029829448'
,'200029829599'
,'200029829771'
,'200029830285'
,'200029830374'
,'200029830530'
,'200029831020'
,'200029831447'
,'200029831916'
,'200029831941'
,'200029832195'
,'200029832509'
,'200029832648'
,'200029833058'
,'200029833567'
,'200029833719'
,'200029833896'
,'200029833944'
,'200029834154'
,'200029834283'
,'200029835567'
,'200029835771'
,'200029835909'
,'200029836291'
,'200029836388'
,'200029836675'
,'200029837263'
,'200029837965'
,'200029838197'
,'200029838464'
,'200029839247'
,'200029839439'
,'200029839897'
,'200029840233'
,'200029840328'
,'200029840573'
,'200029841299'
,'200029841546'
,'200029841857'
,'200029841979'
,'200029842058'
,'200029842063'
,'200029842160'
,'200029842249'
,'200029842683'
,'200029842882'
,'200029843802'
,'200029844275'
,'200029844764'
,'200029845066'
,'200029845091'
,'200029847078'
,'200029847620'
,'200029847705'
,'200029848110'
,'200029848183'
,'200029848419'
,'200029848481'
,'200029850633'
,'200029850658'
,'200029850708'
,'200029851764'
,'200029851837'
,'200029852163'
,'200029852317'
,'200029853206'
,'200029853327'
,'200029853352'
,'200029853537'
,'200029853722'
,'200029853809'
,'200029854011'
,'200029854065'
,'200029854093'
,'200029854174'
,'200029854250'
,'200029854763'
,'200029860210'
,'200029860808'
,'200029861412'
,'200029861959'
,'200029862250'
,'200029862973'
,'200029863918'
,'200029864059'
,'200029864077'
,'200029866571'
,'200029867135'
,'200029868507'
,'200029868816'
,'200029869044'
,'200029869132'
,'200029869225'
,'200029869258'
,'200029869317'
,'200029869408'
,'200029870037'
,'200029870194'
,'200029870253'
,'200029871149'
,'200029871404'
,'200029872149'
,'200029872487'
,'200029873272'
,'200029873653'
,'200029874665'
,'200029874677'
,'200029875279'
,'200029875317'
,'200029875361'
,'200029875948'
,'200029876112'
,'200029876200'
,'200029876230'
,'200029876984'
,'200029877296'
,'200029877353'
,'200029877515'
,'200029877785'
,'200029877922'
,'200029878178'
,'200029878769'
,'200029878942'
,'200029879311'
,'200029879322'
,'200029879368'
,'200029879435'
,'200029879688'
,'200029880458'
,'200029880580'
,'200029880731'
,'200029880985'
,'200029880993'
,'200029881073'
,'200029881855'
,'200029881999'
,'200029882890'
,'200029883506'
,'200029884335'
,'200029884507'
,'200029884730'
,'200029885003'
,'200029885115'
,'200029885377'
,'200029885809'
,'200029885872'
,'200029886373'
,'200029886406'
,'200029887127'
,'200029887265'
,'200029887478'
,'200029888056'
,'200029888297'
,'200029888407'
,'200029889117'
,'200029889299'
,'200029889856'
,'200029890087'
,'200029890146'
,'200029890384'
,'200029891275'
,'200029891400'
,'200029891514'
,'200029891907'
,'200029892043'
,'200029892163'
,'200029892198'
,'200029892392'
,'200029892861'
,'200029892903'
,'200029893006'
,'200029893593'
,'200029894040'
,'200029894179'
,'200029895159'
,'200029895691'
,'200029896158'
,'200029896186'
,'200029896809'
,'200029896873'
,'200029897142'
,'200029897967'
,'200029898063'
,'200029898511'
,'200029898702'
,'200029899042'
,'200029899436'
,'200029899441'
,'200029899580'
,'200029899596'
,'200029899725'
,'200029900561'
,'200029900696'
,'200029900771'
,'200029900917'
,'200029901037'
,'200029901196'
,'200029901258'
,'200029905739'
,'200029906020'
,'200029906825'
,'200029906827'
,'200029906978'
,'200029907013'
,'200029907536'
,'200029907539'
,'200029907637'
,'200029907641'
,'200029907868'
,'200029907910'
,'200029907942'
,'200029908100'
,'200029908149'
,'200029908342'
,'200029908916'
,'200029909346'
,'200029909850'
,'200029910050'
,'200029910061'
,'200029910352'
,'200029910380'
,'200029910601'
,'200029910725'
,'200029910910'
,'200029911074'
,'200029911346'
,'200029911746'
,'200029911990'
,'200029912103'
,'200029912347'
,'200029912396'
,'200029914202'
,'200029914270'
,'200029914672'
,'200029914796'
,'200029914798'
,'200029915041'
,'200029915243'
,'200029916425'
,'200029916740'
,'200029916841'
,'200029918686'
,'200029918834'
,'200029918971'
,'200029919084'
,'200029919603'
,'200029923711'
,'200029924643'
,'200029925267'
,'200029925889'
,'200029925998'
,'200029926356'
,'200029926502'
,'200029926996'
,'200029927163'
,'200029927440'
,'200029927463'
,'200029927716'
,'200029928010'
,'200029928097'
,'200029929118'
,'200029929577'
,'200029930015'
,'200029930065'
,'200029930324'
,'200029930960'
,'200029931390'
,'200029932208'
,'200029932511'
,'200029932709'
,'200029933254'
,'200029933277'
,'200029933560'
,'200029933614'
,'200029934204'
,'200029934681'
,'200029934735'
,'200029934960'
,'200029935203'
,'200029935206'
,'200029935232'
,'200029935742'
,'200029936042'
,'200029936118'
,'200029936298'
,'200029936388'
,'200029936623'
,'200029936664'
,'200029938009'
,'200029938199'
,'200029938655'
,'200029938657'
,'200029939161'
,'200029939309'
,'200029939541'
,'200029939552'
,'200029939560'
,'200029940012'
,'200029940181'
,'200029940383'
,'200029940616'
,'200029940728'
,'200029941464'
,'200029941598'
,'200029942132'
,'200029942143'
,'200029942238'
,'200029942701'
,'200029943079'
,'200029943518'
,'200029943884'
,'200029943999'
,'200029944209'
,'200029944259'
,'200029944475'
,'200029944638'
,'200029944828'
,'200029944900'
,'200029945667'
,'200029945998'
,'200029946095'
,'200029946334'
,'200029946732'
,'200029947735'
,'200029947863'
,'200029947958'
,'200029948296'
,'200029948299'
,'200029948408'
,'200029948461'
,'200029948838'
,'200029949445'
,'200029949695'
,'200029949708'
,'200029949990'
,'200029950090'
,'200029950619'
,'200029951212'
,'200029951315'
,'200029951683'
,'200029951978'
,'200029952307'
,'200029952645'
,'200029953080'
,'200029953723'
,'200029954045'
,'200029954141'
,'200029954279'
,'200029954280'
,'200029954804'
,'200029955089'
,'200029956323'
,'200029961540'
,'200029961699'
,'200029961703'
,'200029961739'
,'200029961836'
,'200029962164'
,'200029962282'
,'200029962462'
,'200029962526'
,'200029962760'
,'200029962804'
,'200029962810'
,'200029963018'
,'200029963114'
,'200029963147'
,'200029963371'
,'200029963686'
,'200029963771'
,'200029963808'
,'200029963809'
,'200029963883'
,'200029963955'
,'200029964102'
,'200029964189'
,'200029964281'
,'200029964849'
,'200029965188'
,'200029965327'
,'200029965378'
,'200029965436'
,'200029965556'
,'200029965900'
,'200029965909'
,'200029965957'
,'200029966288'
,'200029966480'
,'200029966502'
,'200029966673'
,'200029967076'
,'200029967311'
,'200029967400'
,'200029967816'
,'200029967841'
,'200029968225'
,'200029968289'
,'200029969010'
,'200029969331'
,'200029969417'
,'200029969684'
,'200029969950'
,'200029970764'
,'200029971684'
,'200029971777'
,'200029971781'
,'200029972416'
,'200029972422'
,'200029972781'
,'200029972846'
,'200029973212'
,'200029973393'
,'200029973442'
,'200029974023'
,'200029974030'
,'200029974456'
,'200029974573'
,'200029974577'
,'200029974969'
,'200029975122'
,'200029975274'
,'200029975699'
,'200029976138'
,'200029976302'
,'200029976364'
,'200029977602'
,'200029977669'
,'200029977788'
,'200029978211'
,'200029978506'
,'200029978777'
,'200029979471'
,'200029979508'
,'200029979735'
,'200029979865'
,'200029979939'
,'200029980008'
,'200029980032'
,'200029980071'
,'200029980191'
,'200029980285'
,'200029980286'
,'200029980372'
,'200029980441'
,'200029980458'
,'200029980512'
,'200029980747'
,'200029980926'
,'200029981030'
,'200029981183'
,'200029981310'
,'200029981472'
,'200029981617'
,'200029981872'
,'200029982027'
,'200029982361'
,'200029982365'
,'200029982533'
,'200029983124'
,'200029983183'
,'200029983402'
,'200029983434'
,'200029983616'
,'200029983626'
,'200029983694'
,'200029983839'
,'200029984124'
,'200029984214'
,'200029984567'
,'200029984607'
,'200029984782'
,'200029986518'
,'200029986652'
,'200029987308'
,'200029987575'
,'200029987942'
,'200029988081'
,'200029988466'
,'200029988556'
,'200029989194'
,'200029989362'
,'200029991486'
,'200029993620'
,'200029993754'
,'200029993970'
,'200029994354'
,'200029994368'
,'200029995024'
,'200029995548'
,'200029996324'
,'200029996647'
,'200029996796'
,'200029997677'
,'200029997916'
,'200029999064'
,'200029999574'
,'200030000196'
,'200030000416'
,'200030000455'
,'200030005970'
,'200030006249'
,'200030006317'
,'200030006733'
,'200030006808'
,'200030006958'
,'200030006973'
,'200030007190'
,'200030007244'
,'200030008191'
,'200030008390'
,'200030008832'
,'200030008839'
,'200030008864'
,'200030009064'
,'200030009399'
,'200030009491'
,'200030009506'
,'200030009638'
,'200030010080'
,'200030010089'
,'200030010581'
,'200030010704'
,'200030011186'
,'200030011302'
,'200030011317'
,'200030011807'
,'200030012035'
,'200030012231'
,'200030012558'
,'200030012876'
,'200030013014'
,'200030013184'
,'200030013198'
,'200030013271'
,'200030014540'
,'200030014861'
,'200030015051'
,'200030015101'
,'200030015173'
,'200030015457'
,'200030015732'
,'200030016407'
,'200030016574'
,'200030016627'
,'200030016630'
,'200030017402'
,'200030017592'
,'200030018057'
,'200030018703'
,'200030018823'
,'200030021677'
,'200030021901'
,'200030022182'
,'200030022463'
,'200030022713'
,'200030022778'
,'200030024043'
,'200030024497'
,'200030024614'
,'200030024785'
,'200030025549'
,'200030025707'
,'200030026169'
,'200030026826'
,'200030026886'
,'200030027081'
,'200030027427'
,'200030027499'
,'200030027751'
,'200030027816'
,'200030030827'
,'200030031683'
,'200030031930'
,'200030032027'
,'200030032907'
,'200030033075'
,'200030033125'
,'200030033670'
,'200030033831'
,'200030034121'
,'200030034938'
,'200030035186'
,'200030035793'
,'200030036155'
,'200030037012'
,'200030037187'
,'200030037806'
,'200030039410'
,'200030039595'
,'200030039874'
,'200030040856'
,'200030041472'
,'200030041625'
,'200030041657'
,'200030041695'
,'200030041728'
,'200030041749'
,'200030042554'
,'200030043379'
,'200030046331'
,'200030046376'
,'200030046406'
,'200030046433'
,'200030047541'
,'200030050335'
,'200030054950'
,'200030054956'
,'200030055293'
,'200030055603'
,'200030055876'
,'200030056203'
,'200030056377'
,'200030056587'
,'200030056761'
,'200030056790'
,'200030056853'
,'200030057002'
,'200030057019'
,'200030057130'
,'200030057589'
,'200030057615'
,'200030058022'
,'200030058033'
,'200030058672'
,'200030058739'
,'200030060060'
,'200030060062'
,'200030060210'
,'200030060269'
,'200030060648'
,'200030060653'
,'200030060743'
,'200030061271'
,'200030061746'
,'200030062059'
,'200030063185'
,'200030063367'
,'200030063375'
,'200030063442'
,'200030063602'
,'200030063814'
,'200030064226'
,'200030064355'
,'200030064503'
,'200030064789'
,'200030065811'
,'200030066495'
,'200030066505'
,'200030068720'
,'200030069052'
,'200030069551'
,'200030069839'
,'200030070997'
,'200030071575'
,'200030071696'
,'200030072751'
,'200030074728'
,'200030074816'
,'200030075110'
,'200030075256'
,'200030075592'
,'200030075686'
,'200030076479'
,'200030076565'
,'200030077585'
,'200030077812'
,'200030080952'
,'200030081022'
,'200030081459'
,'200030081709'
,'200030083085'
,'200030084679'
,'200030084973'
,'200030086516'
,'200030086664'
,'200030090454'
,'200030090791'
,'200030093277'
,'200030095423'
,'200030097915'
,'200030098591'
,'200030098686'
,'200030165450'
,'200020053767'
,'200020536428'
,'200022545159'
,'200023816906'
,'200024076321'
,'200024349974'
,'200024381311'
,'200024447398'
,'200024534119'
,'200025194167'
,'200025472333'
,'200025574022'
,'200026078382'
,'200026226753'
,'200026262206'
,'200026499870'
,'200026524117'
,'200026614879'
,'200026681614'
,'200026681759'
,'200026709664'
,'200026737995'
,'200026781891'
,'200026854471'
,'200026950009'
,'200026960292'
,'200026961415'
,'200027022823'
,'200027022934'
,'200027023794'
,'200027025317'
,'200027138963'
,'200027232610'
,'200027373103'
,'200027390774'
,'200027451450'
,'200027458090'
,'200027482247'
,'200027563175'
,'200027712969'
,'200027798215'
,'200027808493'
,'200027821882'
,'200027835196'
,'200027866948'
,'200027906639'
,'200027913997'
,'200027916330'
,'200027916846'
,'200028010789'
,'200028016745'
,'200028035216'
,'200028049720'
,'200028050187'
,'200028076609'
,'200028136680'
,'200028140713'
,'200028141903'
,'200028197563'
,'200028211623'
,'200028220478'
,'200028221761'
,'200028230967'
,'200028231518'
,'200028248004'
,'200028262040'
,'200028271675'
,'200028299704'
,'200028326153'
,'200028387559'
,'200028402133'
,'200028426022'
,'200028426431'
,'200028440832'
,'200028470263'
,'200028494058'
,'200028496245'
,'200028516990'
,'200028523491'
,'200028527153'
,'200028532659'
,'200028535820'
,'200028622836'
,'200028633639'
,'200028634406'
,'200028637600'
,'200028657284'
,'200028672092'
,'200028711349'
,'200028711613'
,'200028733938'
,'200028734545'
,'200028766361'
,'200028783166'
,'200028820280'
,'200028868191'
,'200028897466'
,'200028897746'
,'200028926113'
,'200028928512'
,'200028933645'
,'200028945950'
,'200028952659'
,'200028955382'
,'200028978270'
,'200028979008'
,'200028995563'
,'200028996283'
,'200029008852'
,'200029008875'
,'200029021278'
,'200029024454'
,'200029028681'
,'200029033791'
,'200029034003'
,'200029036632'
,'200029048291'
,'200029048394'
,'200029050868'
,'200029062955'
,'200029066910'
,'200029067998'
,'200029069822'
,'200029070398'
,'200029076769'
,'200029080494'
,'200029089914'
,'200029093317'
,'200029111867'
,'200029114160'
,'200029121660'
,'200029131937'
,'200029133329'
,'200029133580'
,'200029134292'
,'200029135387'
,'200029154508'
,'200029158479'
,'200029168714'
,'200029175583'
,'200029194704'
,'200029207865'
,'200029208079'
,'200029211381'
,'200029216666'
,'200029227694'
,'200029230471'
,'200029231860'
,'200029241354'
,'200029249735'
,'200029252164'
,'200029255350'
,'200029272955'
,'200029281943'
,'200029299234'
,'200029304151'
,'200029312358'
,'200029324501'
,'200029338453'
,'200029348042'
,'200029353090'
,'200029361175'
,'200029391669'
,'200029398712'
,'200029401173'
,'200029408798'
,'200029417252'
,'200029439792'
,'200029440251'
,'200029443306'
,'200029443666'
,'200029452815'
,'200029457939'
,'200029459521'
,'200029461804'
,'200029479375'
,'200029480795'
,'200029485482'
,'200029504293'
,'200029504478'
,'200029506790'
,'200029507978'
,'200029513813'
,'200029513989'
,'200029515015'
,'200029529074'
,'200029530181'
,'200029533130'
,'200029544097'
,'200029547365'
,'200029552962'
,'200029554033'
,'200029555304'
,'200029557230'
,'200029558858'
,'200029559295'
,'200029575092'
,'200029579372'
,'200029583038'
,'200029583352'
,'200029585705'
,'200029589162'
,'200029593935'
,'200029598155'
,'200029599706'
,'200029605193'
,'200029607972'
,'200029622973'
,'200029627274'
,'200029629484'
,'200029630544'
,'200029630701'
,'200029631456'
,'200029631524'
,'200029632693'
,'200029634098'
,'200029635467'
,'200029636560'
,'200029641045'
,'200029649041'
,'200029653747'
,'200029654178'
,'200029654956'
,'200029657258'
,'200029658883'
,'200029659994'
,'200029660193'
,'200029660998'
,'200029667184'
,'200029680814'
,'200029685018'
,'200029697932'
,'200029706239'
,'200029721825'
,'200029726836'
,'200029727904'
,'200029728354'
,'200029729598'
,'200029733743'
,'200029734465'
,'200029745394'
,'200029746420'
,'200029749319'
,'200029752603'
,'200029754564'
,'200029762549'
,'200029764690'
,'200029773634'
,'200029774387'
,'200029774487'
,'200029775331'
,'200029779030'
,'200029789737'
,'200029789950'
,'200029791072'
,'200029795755'
,'200029796057'
,'200029813203'
,'200029814941'
,'200029816589'
,'200029820887'
,'200029825729'
,'200029827721'
,'200029831860'
,'200029832527'
,'200029833778'
,'200029834347'
,'200029835190'
,'200029842076'
,'200029844463'
,'200029848973'
,'200029849679'
,'200029850884'
,'200029851673'
,'200029851917'
,'200029854473'
,'200029859627'
,'200029859937'
,'200029862314'
,'200029862503'
,'200029864027'
,'200029867562'
,'200029870378'
,'200029870680'
,'200029872663'
,'200029875233'
,'200029875273'
,'200029878737'
,'200029878791'
,'200029879293'
,'200029881587'
,'200029882850'
,'200029889089'
,'200029890937'
,'200029891664'
,'200029892809'
,'200029894283'
,'200029895660'
,'200029896647'
,'200029898055'
,'200029899736'
,'200029901076'
,'200029901740'
,'200029906547'
,'200029906591'
,'200029906692'
,'200029908876'
,'200029908883'
,'200029910265'
,'200029910718'
,'200029913077'
,'200029913492'
,'200029913833'
,'200029914182'
,'200029917375'
,'200029922171'
,'200029922240'
,'200029923144'
,'200029925413'
,'200029926448'
,'200029926692'
,'200029930138'
,'200029932213'
,'200029932609'
,'200029932806'
,'200029932950'
,'200029934009'
,'200029934829'
,'200029935032'
,'200029935209'
,'200029937589'
,'200029940403'
,'200029942670'
,'200029943574'
,'200029945265'
,'200029946893'
,'200029947107'
,'200029947332'
,'200029948359'
,'200029949834'
,'200029950092'
,'200029950856'
,'200029951031'
,'200029952826'
,'200029953979'
,'200029954759'
,'200029954849'
,'200029955934'
,'200029961607'
,'200029961612'
,'200029961640'
,'200029961733'
,'200029962449'
,'200029964857'
,'200029964964'
,'200029966345'
,'200029967155'
,'200029967429'
,'200029967750'
,'200029967811'
,'200029968610'
,'200029969673'
,'200029972303'
,'200029973166'
,'200029973374'
,'200029974381'
,'200029974814'
,'200029976417'
,'200029976745'
,'200029977036'
,'200029978023'
,'200029979751'
,'200029980046'
,'200029981176'
,'200029981749'
,'200029982009'
,'200029982077'
,'200029982165'
,'200029982482'
,'200029982652'
,'200029984453'
,'200029986573'
,'200029989923'
,'200029990128'
,'200029990368'
,'200029991749'
,'200029994146'
,'200029995569'
,'200029996183'
,'200029996555'
,'200030000326'
,'200030000529'
,'200030001005'
,'200030005406'
,'200030005824'
,'200030005889'
,'200030006147'
,'200030009826'
,'200030011589'
,'200030012624'
,'200030014169'
,'200030014552'
,'200030016990'
,'200030017599'
,'200030021735'
,'200030025903'
,'200030026249'
,'200030028295'
,'200030032039'
,'200030037973'
,'200030040604'
,'200030046421'
,'200030046795'
,'200030047633'
,'200030047744'
,'200030047984'
,'200030050304'
,'200030050306'
,'200030050314'
,'200030055292'
,'200030055799'
,'200030055920'
,'200030057055'
,'200030057934'
,'200030061109'
,'200030062558'
,'200030062771'
,'200030063669'
,'200030064714'
,'200030064916'
,'200030065261'
,'200030068466'
,'200030069306'
,'200030070354'
,'200030071477'
,'200030080174'
,'200030084063'
,'200030084309'
,'200030089807'
,'200030096421'
,'200030098817'
,'200030100083'
,'200019569646'
,'200019694651'
,'200019698408'
,'200022486157'
,'200024074908'
,'200024247488'
,'200024295316'
,'200024317491'
,'200024351839'
,'200024382034'
,'200024386756'
,'200024411789'
,'200024439942'
,'200024802449'
,'200025118485'
,'200025277110'
,'200025634439'
,'200025685349'
,'200025749987'
,'200025789496'
,'200025894068'
,'200026044816'
,'200026134928'
,'200026145182'
,'200026217980'
,'200026262365'
,'200026380532'
,'200026381345'
,'200026381823'
,'200026391088'
,'200026438354'
,'200026465748'
,'200026496669'
,'200026507311'
,'200026656095'
,'200026689468'
,'200026695535'
,'200026769257'
,'200026812240'
,'200026865268'
,'200026901917'
,'200026904964'
,'200026907102'
,'200026922622'
,'200026955140'
,'200026992264'
,'200027060174'
,'200027136387'
,'200027156983'
,'200027169977'
,'200027178821'
,'200027181078'
,'200027381380'
,'200027402148'
,'200027437697'
,'200027495624'
,'200027505442'
,'200027565361'
,'200027661845'
,'200027696455'
,'200027699064'
,'200027782327'
,'200027865103'
,'200027890125'
,'200027915553'
,'200027940446'
,'200027952926'
,'200027965823'
,'200027997323'
,'200028033049'
,'200028046317'
,'200028066904'
,'200028071902'
,'200028130055'
,'200028157897'
,'200028168976'
,'200028220658'
,'200028319719'
,'200028322081'
,'200028366527'
,'200028401878'
,'200028403546'
,'200028420991'
,'200028424110'
,'200028436754'
,'200028440388'
,'200028490369'
,'200028497543'
,'200028537905'
,'200028565038'
,'200028575323'
,'200028575324'
,'200028576929'
,'200028595309'
,'200028599803'
,'200028644350'
,'200028644848'
,'200028649844'
,'200028656130'
,'200028672917'
,'200028711720'
,'200028717985'
,'200028730709'
,'200028733902'
,'200028765799'
,'200028767128'
,'200028769991'
,'200028779617'
,'200028779936'
,'200028781938'
,'200028791330'
,'200028793091'
,'200028799907'
,'200028801275'
,'200028803415'
,'200028819797'
,'200028831483'
,'200028851961'
,'200028852098'
,'200028892975'
,'200028932740'
,'200028952891'
,'200028956747'
,'200028961982'
,'200028962156'
,'200028963728'
,'200028976973'
,'200028978991'
,'200028990445'
,'200028991952'
,'200028992822'
,'200029000486'
,'200029004316'
,'200029035155'
,'200029045554'
,'200029046648'
,'200029049801'
,'200029067924'
,'200029072091'
,'200029075922'
,'200029077446'
,'200029078017'
,'200029112771'
,'200029112925'
,'200029114602'
,'200029117259'
,'200029131248'
,'200029132272'
,'200029149757'
,'200029153200'
,'200029159434'
,'200029162828'
,'200029168655'
,'200029171604'
,'200029191068'
,'200029197024'
,'200029204901'
,'200029225110'
,'200029227295'
,'200029230572'
,'200029230573'
,'200029242342'
,'200029252206'
,'200029294991'
,'200029295309'
,'200029296802'
,'200029308329'
,'200029315900'
,'200029323599'
,'200029324933'
,'200029342669'
,'200029346901'
,'200029357851'
,'200029357983'
,'200029358886'
,'200029366032'
,'200029396274'
,'200029398096'
,'200029400504'
,'200029403715'
,'200029405141'
,'200029405251'
,'200029405421'
,'200029405462'
,'200029406089'
,'200029406629'
,'200029416561'
,'200029420013'
,'200029432222'
,'200029453289'
,'200029455406'
,'200029462971'
,'200029479084'
,'200029502856'
,'200029507171'
,'200029508761'
,'200029508957'
,'200029509699'
,'200029512799'
,'200029513097'
,'200029514412'
,'200029550637'
,'200029564782'
,'200029564857'
,'200029565097'
,'200029565173'
,'200029570990'
,'200029577674'
,'200029577675'
,'200029581042'
,'200029601665'
,'200029614233'
,'200029625422'
,'200029635659'
,'200029638792'
,'200029639972'
,'200029641780'
,'200029644024'
,'200029653921'
,'200029658412'
,'200029658413'
,'200029685905'
,'200029687129'
,'200029699998'
,'200029704946'
,'200029715881'
,'200029724965'
,'200029740532'
,'200029752503'
,'200029774448'
,'200029775732'
,'200029776137'
,'200029778764'
,'200029779325'
,'200029779477'
,'200029780218'
,'200029780528'
,'200029791099'
,'200029795335'
,'200029811607'
,'200029825779'
,'200029843690'
,'200029845631'
,'200029858717'
,'200029859294'
,'200029864118'
,'200029877506'
,'200029894455'
,'200029896905'
,'200029897010'
,'200029901305'
,'200029902481'
,'200029902485'
,'200029910712'
,'200029915762'
,'200029930693'
,'200029931950'
,'200029932657'
,'200029935155'
,'200029953432'
,'200029960822'
,'200029961771'
,'200029976478'
,'200029976982'
,'200029980203'
,'200029982048'
,'200029998677'
,'200029998678'
,'200030019323'
,'200030022661'
,'200030026733'
,'200030061583'
,'200030073317'
,'200030076246'
,'200030111631'
,'200030161381'
)
AND SUBSTRING(ITSERVTY,1,2) = 'MT'
--ORDER BY ITCSN
ORDER BY SURVEY_ID

